
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&family=Red+Hat+Text&display=swap" rel="stylesheet">
<style>
  :root {
    --redhat-color: rgb(238, 0, 0);
    --pf-global--FontFamily--sans-serif: "Red Hat Text","Overpass",overpass,helvetica,arial,sans-serif;
    --pf-global--FontFamily--heading--sans-serif: "Red Hat Display", "Overpass", overpass, helvetica, arial, sans-serif;
    --pfe-theme--color--surface--base: var(--redhat-color);
    --pfe-card__header--BackgroundColor: var(--redhat-color);
    --pfe-card--Border: 1px solid var(--redhat-color);

  }
  :root {
    font-family: var(--pf-global--FontFamily--sans-serif);
    font-size: var(--pf-global--FontSize--sm);
    text-align: left;
    color: var(--pf-global--Color--100);
  }
  h1, h2 {
    font-family: var(--pf-global--FontFamily--heading--sans-serif);
  }
  h3, h4 {
    font-weight: 500;
    color: #fff;
    background-color: red;
  }

  #pt-title-box {
    width: 100%;
    border: solid red 2px;
    background-color: #d3d3d3;
    }

  #pt-box {
    width: 100%;
    border: solid black 2px;
  }

</style>

  <pt-icon-panel icon="rh-cloud">
    <h2 slot="pt-icon-panel--header">{{ service_display_name }}</h2>
    <p>Status: <pt-label color="green">Service Ready</pt-label></p>
  </pt-icon-panel>


<pt-band size="small">
  <h4>This service is scheduled to stop and be retired:</h4>
  <div id="pt-title-box">
  <ul>
    <li>Scheduled stop in {{ stop_timedelta_humanized }} at {{ stop_timestamp }}</li>
    <li>Scheduled retirement in {{ retirement_timedelta_humanized }} at {{ retirement_timestamp }}.</li>
    </ul>
    </div>
</pt-band>

{% if openshift_console_url %}
  <h2 color="#000" slot="pt-band--header">General Demo Access Information</h3>
  <ul>
    <li>OpenShift Console:
      <pt-clipboard copy-from="{{ openshift_console_url }}">
        <span slot="text">{{ openshift_console_url }}</span>
      </pt-clipboard>
      <ul>
        <li>username: {{ openshift_cluster_admin_username }} </li>
        <li>password: {{ openshift_cluster_admin_password }} </li>
      </ul>
    </li>
    <li>RHACM Console:
      <pt-clipboard copy-from="{{ acm_route }}">
        <span slot="text">{{ acm_route }}</span>
      </pt-clipboard>
      <ul>
        <li>username: {{ openshift_cluster_admin_username }} </li>
        <li>password: {{ openshift_cluster_admin_password }} </li>
      </ul>
    </li>
    <li>Visual Studio Code Server:
      <pt-clipboard copy-from="{{ visual_studio_code_server }}">
        <span slot="text">{{ visual_studio_code_server }}</span>
      </pt-clipboard>
      <ul>
        <li>password: {{ visual_studio_code_password }}</li>
      </ul>
    </li>
  </ul>
{% endif %}


{% if openshift_console_url %}
<div id="pt-box">
    <h3 slot="pt-card--header">Segment 1: Stability and Speed Anywhere</h3>
</div>
</div>
    <p>
      <pt-cta>
        <a href="https://docs.google.com/document/d/1RN7oefDysW7j9vjvpuiwtGDcuXU_tC8wN9oOcVaybp8/edit#bookmark=id.ndm5z9gdp9oi">Segment Narrative Script</a>
      </pt-cta>
    </p>

    <p>Linux Bastion Access:
      <pt-clipboard copy-from="ssh {{ bastion_ssh_user_name }}@{{ bastion_public_hostname }}">
        <span slot="text">SSH: ssh {{ bastion_ssh_user_name }}@{{ bastion_public_hostname }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ bastion_ssh_password }}">
        <span slot="text">Password: {{ bastion_ssh_password }}</span>
      </pt-clipboard>
    </p>

    <p>OpenShift Console:
      <pt-clipboard copy-from="{{ openshift_console_url }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ openshift_console_url }}" target="_blank">{{ openshift_console_url }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ openshift_cluster_admin_username }}">
        <span slot="text">Username: {{ openshift_console_username }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ openshift_cluster_admin_password }}">
        <span slot="text">Password: {{ openshift_console_password }}</span>
      </pt-clipboard>
    </p>

    <p>RHACM Console:
      <pt-clipboard copy-from="{{ acm_route }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ acm_route }}" target="_blank">{{ acm_route }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ openshift_cluster_admin_username }}">
        <span slot="text">Username: {{ openshift_console_username }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ openshift_cluster_admin_password }}">
        <span slot="text">Password: {{ openshift_console_password }}</span>
      </pt-clipboard>
    </p>
{% endif %}

<pt-band size="small" color="lightest">
  <pt-card color="lightest">
    <h3 slot="pt-card--header">Segment 2: Application Modernization and Developer Experience</h3>
    <pt-cta>
      <p>
       <a href="https://docs.google.com/document/d/1RN7oefDysW7j9vjvpuiwtGDcuXU_tC8wN9oOcVaybp8/edit#bookmark=id.vf8v0omtidd0">Segment Narrative Script</a>
      </p>
    </pt-cta>
    </br>

{% if openshift_console_url %}
    <p>OpenShift Console:
      <pt-clipboard copy-from="{{ openshift_console_url }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ openshift_console_url }}" target="_blank">{{ openshift_console_url }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ openshift_cluster_admin_username }}">
        <span slot="text">Admin Username: {{ openshift_console_username }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ openshift_cluster_admin_password }}">
        <span slot="text">Admin Password: {{ openshift_console_password }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="user1">
        <span slot="text">Username: user1</span>
      </pt-clipboard>
      <pt-clipboard copy-from="openshift">
        <span slot="text">Password: openshift</span>
      </pt-clipboard>
    </p>
{% endif %}

{% if gitea_console_url %}
    <p>Gitea:
      <pt-clipboard copy-from="{{ gitea_console_url }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ gitea_console_url }}" target="_blank">{{ gitea_console_url }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ gitea_admin_username }}">
        <span slot="text">Username: {{ gitea_admin_username }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ gitea_admin_password }}">
        <span slot="text">Password: {{ gitea_admin_password }}</span>
      </pt-clipboard>
    </p>
{% endif %}

{% if mta_url %}
    <p>Migration Toolkit for Applications:
      <pt-clipboard copy-from="{{ mta_url }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ mta_url }}" target="_blank">{{ mta_url }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ mta_user }}">
        <span slot="text">Username: {{ mta_user }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ mta_password }}">
        <span slot="text">Password: {{ mta_password }}</span>
      </pt-clipboard>
    </p>
{% endif %}

{% if tackle_url %}
    <p>Konveyor Tackle (Migration Toolkit for Applications Upstream):
      <pt-clipboard copy-from="{{ tackle_url }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ tackle_url }}" target="_blank">{{ tackle_url }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ tackle_username }}">
        <span slot="text">Username: {{ tackle_username }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ tackle_password }}">
        <span slot="text">Password: {{ tackle_password }}</span>
      </pt-clipboard>
    </p>
{% endif %}

{% if rhodh_dashboard %}
    <p>Red Hat OpenShift Data Science Dashboard:
      <pt-clipboard copy-from="{{ rhodh_dashboard }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ rhodh_dashboard }}" target="_blank">{{ rhodh_dashboard }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>
      <pt-clipboard copy-from="user1">
        <span slot="text">Username: user1</span>
      </pt-clipboard>
      <pt-clipboard copy-from="openshift">
        <span slot="text">Password: openshift</span>
      </pt-clipboard>
    </p>
{% endif %}

    <p>Visual Studio Code Server is available on the Bastion VM.
      <pt-clipboard copy-from="{{ visual_studio_code_server }}">
        <span slot="text">Server: {{ visual_studio_code_server }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ visual_studio_code_password }}">
        <span slot="text">Password: {{ visual_studio_code_password }}</span>
      </pt-clipboard>
    </p>

    <p>Linux Bastion Access:
      <pt-clipboard copy-from="ssh {{ bastion_ssh_user_name }}@{{ bastion_public_hostname }}">
        <span slot="text">SSH: ssh {{ bastion_ssh_user_name }}@{{ bastion_public_hostname }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ bastion_ssh_password }}">
        <span slot="text">Password: {{ bastion_ssh_password }}</span>
      </pt-clipboard>
    </p>

  </pt-card>
</pt-band>

<pt-band size="small" color="lightest">
  <pt-card color="lightest">
    <h3 slot="pt-card--header">Segment 3: Manage and Secure at Scale</h3>
    <p>
      <pt-cta>
        <a href="https://docs.google.com/document/d/1RN7oefDysW7j9vjvpuiwtGDcuXU_tC8wN9oOcVaybp8/edit#bookmark=id.31noru7ab8my">Segment Narrative Script</a>
      </pt-cta>
    </p>
{% if acs_route %}
    <p>Red Hat Advanced Cluster Security - Portal:
      <pt-clipboard copy-from="{{ acs_route }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ acs_route }}" target="_blank">{{ acs_route }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ acs_portal_username }}">
        <span slot="text">Username: {{ acs_portal_username }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ acs_portal_password }}">
        <span slot="text">Password: {{ acs_portal_password }}</span>
      </pt-clipboard>
    <p>
{% endif %}

{% if acm_route %}
    <p>RHACM Console:
      <pt-clipboard copy-from="{{ acm_route }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ acm_route }}" target="_blank">{{ acm_route }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ openshift_cluster_admin_username }}">
        <span slot="text">Username: {{ openshift_console_username }}</span>
      </pt-clipboard>
      <pt-clipboard copy-from="{{ openshift_cluster_admin_password }}">
        <span slot="text">Password: {{ openshift_console_password }}</span>
      </pt-clipboard>
    </p>
{% endif %}

  </pt-card>
</pt-band>

{% if ac_web_url %}
<pt-band size="small" color="lightest">
  <pt-card color="lightest">
    <h3 slot="pt-card--header">Segment 4: Extend to the Edge</h3>
    <p>
    <pt-cta>
      <a href="https://docs.google.com/document/d/1RN7oefDysW7j9vjvpuiwtGDcuXU_tC8wN9oOcVaybp8/edit#bookmark=id.lc8kevxm6mzb">Segment Narrative Script</a>
    </pt-cta>
    </p>

    <p>Ansible Automation Controller:
      <pt-clipboard copy-from="{{ ac_web_url }}">
        <span slot="text">URL:
          <pt-cta>
            <a href="{{ ac_web_url }}" target="_blank">{{ ac_web_url }}</a>
          </pt-cta>
        </span>
      </pt-clipboard>

      <pt-clipboard copy-from="{{ ac_user }}">
        <span slot="text">Username: {{ ac_user }}</span>
      </pt-clipboard>

      <pt-clipboard copy-from="{{ bastion_ssh_password }}">
        <span slot="text">Password: {{ ac_password }}</span>
      </pt-clipboard>
    </p>

  </pt-card>
</pt-band>
{% endif %}

{% if service_url %}
<pt-band color="lightest">
  <p>Service management URL: <pt-cta><a href="{{ service_url }}">{{ service_url }}</a></pt-cta></p>
</pt-band>
{% endif %}

<pt-band color="lightest" size="small">
  <pt-codeblock>
    <pre codeblock-container>ac_password:   {{ ac_password }}
  ac_user:   {{ ac_user }}
  ac_web_url:   {{ ac_web_url }}
  acm_route:   {{ acm_route }}
  acs_route:   {{ acs_route }}
  api_url:   {{ api_url }}
  azure_application:   {{ azure_application }}
  azure_dns_zone:   {{ azure_dns_zone }}
  azure_resource_group:   {{ azure_resource_group }}
  azure_service_principal_id:   {{ azure_service_principal_id }}
  azure_service_principal_password:   {{ azure_service_principal_password }}
  azure_subscription:   {{ azure_subscription }}
  azure_tenant:   {{ azure_tenant }}
  azure_tenant_id:   {{ azure_tenant_id }}
  bastion_public_hostname:   {{ bastion_public_hostname }}
  bastion_ssh_password:   {{ bastion_ssh_password }}
  bastion_ssh_user_name:   {{ bastion_ssh_user_name }}
  openshift_api_url:   {{ openshift_api_url }}
  openshift_client_download_url:   {{ openshift_client_download_url }}
  openshift_console_url:   {{ openshift_console_url }}
  sandbox_name:   {{ sandbox_name }}
  users:   {{ users }}
  web_console_url:   {{ web_console_url }}
  gitea_admin_password:   {{ gitea_admin_password }}
  gitea_admin_username:   {{ gitea_admin_username }}
  openshift_cluster_admin_password:   {{ openshift_cluster_admin_password }}
  openshift_cluster_admin_username:   {{ openshift_cluster_admin_username }}
  visual_studio_code_password:   {{ visual_studio_code_password }}
  visual_studio_code_server:   {{ visual_studio_code_server }}
  acs_portal_username:   {{ acs_portal_username }}
  acs_portal_password:   {{ acs_portal_password }}
  </pre></pt-codeblock>
</pt-band>
